# Host configuration
hostname: myserver
domain: home.example.com
timezone: 'Etc/UTC'

# Container configuration
# Secrets for .env templates. Generated .env files will contain the secrets specified here.
containers:
  - name: audiobookshelf
    path: /var/containers/volumes/audiobookshelf
    dataset: zfs/audiobookshelf
    monitor_url: https://hc-ping.com/<uuid>
    backup:
      path: /var/backups/audiobookshelf
      monitor_url: https://hc-ping.com/<uuid>
      remotes:
        - rclone_remote
      keep_daily: 0
      keep_weekly: 4
      keep_monthly: 6
      keep_yearly: 0
    variables:
      - "AUDIOBOOKSHELF_GID=<gid>"
      - "AUDIOBOOKSHELF_UID=<uid>"
      - "WEB_PORT=12345"
    overrides:
      - file: 10-addl-volumes.conf
        parameters:
          - key: Volume
            value: "/var/path/to/photos:/photos:z,rw,rbind,rslave"

# Directories
# Butane/Ignition doesn't support recursive creation of directories, so you must specify intermediate paths.
directories:
  - /var/containers/
  - /var/containers/files
  - /var/tank

# Root Disk Configuration
# Doesn't appear to work with drives specified in this manner.
disks:
  - /dev/disk/by-id/nvme...
  - /dev/disk/by-id/nvme...

# Environment Variables (global)
# Stored in /etc/environment
environment:
  - "BACKUP_KEY=<borg-passphrase>"
  - "SHARED_VOLUMES_PATH=<path to shared files>"
  - "UPDATES_MONITOR_URL=https://hc-ping.com/..."
  - "ZFS_MONITOR_URL=https://hc-ping.com/..."

# Firewall Configuration
firewall:
  - zone:
    services:
      - ssh
      - mdns
      - dhcpv6-client


# Host Keys
keys:
  - path: <path-to-private-host-key>
    content: |
      <host-key-data>
    owner: root
    group: root
    mode: '0600'
  - path: <path-to-public-host-key>
    content: |
      <host-key-data>
    owner: root
    group: root
    mode: '0644'

# Symlinks
links:
  - path: /mnt/volume/movies/adam
    target: /var/tank/adam/Movies
  
  - path: /mnt/volume/movies/andrew
    target: /var/tank/andrew/Movies

# Mounts
mounts:
  - path: /mnt/container/container-data
    target: /var/tank/container/container-data
    options:
      - bind
    before:
      - container.service
    description: Volume for container data

  - path: /mnt/container/container-config
    target: nfs-server:/container/container-config
    type: nfs
    before:
      - container.service
    after:
      - network-online.target
      - nss-lookup.target
    description: Volume for container configuration

# Network Configuration
network:
  - interface: eth0
    type: ethernet
    settings:
      - protocol: ipv4
        options:
          - key: address1
            value: 192.168.200.1/24
          - key: method
            value: manual
          - key: may-fail
            value: false
      - protocol: ipv6
        options:
          - key: method
            value: disabled

# Rclone Configuration
rclone:
  - remote: B2West
    type: b2
    account: <base-16 account number>
    key: <account key>

# Samba Configuration
samba:
  - name: global
    options:
      - key: workgroup
        value: WORKGROUP
  - name: mysharedfolder
    options:
      - key: comment
        value: This is my shared folder
      - key: path
        value: /var/path/to/shared/folder
      - key: read only
        value: no
      - key: browseable
        value: yes

# Synchronization Jobs
# Uses `sync@.service` to synchronize pairs. For example, synchronizing music to a USB device.
sync:
  - name: offline_music
    source: /path/to/music/folder
    target: /path/to/save/location
    cooldown: 3600
    options:
      - '-vrlEpoght'
      - '--exclude=Beck'

# Users
users:
  - name: core
    password: '<password-hash>'
    pubkeys:
      - 'ssh-ed25519 <hash>'
