# Host configuration
hostname: myserver
domain: home.example.com
timezone: 'Etc/UTC'
backup_key: <passphrase>
healthcheck_updates_url: https://hc-ping.com/<uuid>
healthcheck_zfs_url: https://hc-ping.com/<uuid>

# Root Disk Configuration
# Doesn't appear to work with drives specified in this manner.
root_disks:
  - /dev/disk/by-id/nvme...
  - /dev/disk/by-id/nvme...

# Host Keys
keys:
  - path: <path-to-private-host-key>
    content: |
      <host-key-data>
    owner: root
    group: root
    mode: '0600'
  - path: <path-to-public-host-key>
    content: |
      <host-key-data>
    owner: root
    group: root
    mode: '0644'

# Users
users:
  - name: core
    password: '<password-hash>'
    pubkeys:
      - 'ssh-ed25519 <hash>'

# Directories
directories:
  - /var/tank

# Symlinks
links:
  - path: /mnt/volume/movies/adam
    target: /var/tank/adam/Movies
  
  - path: /mnt/volume/movies/andrew
    target: /var/tank/andrew/Movies

# Mounts
mounts:
  - path: /mnt/container/container-data
    target: /var/tank/container/container-data
    options:
      - bind
    before:
      - container.service
    description: Volume for container data

  - path: /mnt/container/container-config
    target: nfs-server:/container/container-config
    type: nfs
    before:
      - container.service
    after:
      - network-online.target
      - nss-lookup.target
    description: Volume for container configuration

# Firewall Configuration
firewall:
  - zone:
    services:
      - ssh
      - mdns
      - dhcpv6-client

# Network Configuration
network:
  - interface: eth0
    type: ethernet
    settings:
      - protocol: ipv4
        options:
          - key: method
            value: auto

# Rclone Configuration
rclone:
  - remote: B2West
    type: b2
    account: <base-16 account number>
    key: <account key>

# Samba Configuration
samba:
  - name: global
    options:
      - key: workgroup
        value: WORKGROUP
  - name: mysharedfolder
    options:
      - key: comment
        value: This is my shared folder
      - key: path
        value: /var/path/to/shared/folder
      - key: read only
        value: no
      - key: browseable
        value: yes

# Synchronization Jobs
# Uses `sync@.service` to synchronize pairs. For example, synchronizing music to a USB device.
sync:
  - name: offline_music
    source: /path/to/music/folder
    target: /path/to/save/location
    cooldown: 3600
    options:
      - '-vrlEpoght'
      - '--exclude=Beck'

# Container configuration
# Secrets for .env templates. Generated .env files will contain the secrets specified here.
containers:
  - name: audiobookshelf
    path: /var/containers/volumes/audiobookshelf
    monitor_url: https://hc-ping.com/<uuid>
    backup_path: /var/backups/audiobookshelf
    backup_monitor_url: https://hc-ping.com/<uuid>
    dataset: zfs/audiobookshelf
    keep_daily: 0
    keep_weekly: 4
    keep_monthly: 6
    keep_yearly: 0
    variables:
      - "AUDIOBOOKSHELF_GID=<gid>"
      - "AUDIOBOOKSHELF_UID=<uid>"
