NC_DOMAIN={{ nextcloud_domain }}
NEXTCLOUD_HOST=nextcloud
POSTGRES_DB={{ nextcloud_db_database }}
POSTGRES_HOST=nextcloud-db
POSTGRES_PASSWORD={{ nextcloud_db_password }}
POSTGRES_USER={{ nextcloud_db_user }}
REDIS_HOST=nextcloud-redis
REDIS_HOST_PASSWORD={{ nextcloud_redis_password }}
