ADMIN_PASSWORD={{ nextcloud_admin_password }}
ADMIN_USER={{ nextcloud_admin_user }}
APACHE_IP_BINDING=0.0.0.0
APACHE_PORT=80
CLAMAV_ENABLED=yes
CLAMAV_HOST=nextcloud-clamav
COLLABORA_ENABLED=yes
COLLABORA_HOST=nextcloud-collabora
FULLTEXTSEARCH_ENABLED=yes
FULLTEXTSEARCH_HOST=nextcloud-fts
FULLTEXTSEARCH_PASSWORD={{ nextcloud_fts_password }}
IMAGINARY_ENABLED=yes
IMAGINART_HOST=nextcloud-imaginary
NC_DOMAIN={{ nextcloud_domain }}
NEXTCLOUD_DATA_DIR=/mnt/ncdata
OVERWRITEHOST={{ nextcloud_domain }}
OVERWRITEPROTOCOL=https
PHP_MAX_TIME={{ nextcloud_max_time }}
PHP_MEMORY_LIMIT={{ nextcloud_memory_limit }}
PHP_UPLOAD_LIMIT={{ nextcloud_upload_limit }}
POSTGRES_DB={{ nextcloud_db_database }}
POSTGRES_HOST=nextcloud-db
POSTGRES_PASSWORD={{ nextcloud_db_password }}
POSTGRES_USER={{ nextcloud_db_user }}
REDIS_HOST=nextcloud-redis
REDIS_HOST_PASSWORD={{ nextcloud_redis_password }}
REMOVE_DISABLED_APPS=no
TZ={{ timezone }}
UPDATE_NEXTCLOUD_APPS=yes