ES_JAVA_OPTS=-Xms512M -Xmx512M
FULLTEXTSEARCH_PASSWORD={{ nextcloud-fts_password }}
TZ={{ timezone }}
bootstrap.memory_lock=true
cluster.name=nextcloud
discovery.type=single-node
http.port=9200
logger.org.elasticsearch.discovery=WARN
xpack.license.self_generated.type=basic
xpack.security.enabled=false