APACHE_MAX_SIZE={{ nextcloud_web_max_size }}
APACHE_MAX_TIME={{ nextcloud_max_time }}
APACHE_PORT={{ nextcloud_web_port }}
COLLABORA_HOST=nextcloud-collabora
NC_DOMAIN={{ nextcloud_domain }}
NEXTCLOUD_HOST=nextcloud
TZ={{ timezone }}