[Unit]
Description=Target for monthly container backups
Wants={% for container in containers if container.keep_monthly is defined and container.keep_monthly > 0 %}backup-monthly@{{ container.name }}.timer {% endfor %}

[Install]
WantedBy=multi-user.target