[Unit]
Description=Target for container healthchecks
Wants={% for container in monitored_containers %}healthcheck-container@{{ container.name }}.timer {% endfor %}

[Install]
WantedBy=multi-user.target