[Unit]
Description=Container service for Calibre-Web
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-calibre-web.pid %t/container-calibre-web.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-calibre-web.pid \
    --cidfile %t/container-calibre-web.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=calibre-web \
    -e PUID='1000' \
    -e PGID='1000' \
    -e TZ='America/New_York' \
    -e DOCKER_MODS='linuxserver/calibre-web:calibre' \
    {% if ports_calibre_web is defined %}
    {% for port in ports_calibre_web %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_calibre_web is defined %}
    {% for volume in volumes_calibre_web %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    lscr.io/linuxserver/calibre-web:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-calibre-web.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-calibre-web.ctr-id
PIDFile=%t/container-calibre-web.pid
Type=forking

[Install]
WantedBy=default.target
