[Unit]
Description=Container service for Gotify
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-gotify.pid %t/container-gotify.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-gotify.pid \
    --cidfile %t/container-gotify.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=gotify \
    {% if ports_gotify is defined %}
    {% for port in ports_gotify %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_gotify is defined %}
    {% for volume in volumes_gotify %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    docker.io/gotify/server:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-gotify.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-gotify.ctr-id
PIDFile=%t/container-gotify.pid
Type=forking

[Install]
WantedBy=default.target
