[Unit]
Description=Container service for Homer
Wants=network.target
After=network-online.target zfs.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-homer.pid %t/container-homer.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-homer.pid \
    --cidfile %t/container-homer.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=homer \
    -e INIT_ASSETS: '1' \
    {% if ports_homer is defined %}
    {% for port in ports_homer %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_homer is defined %}
    {% for volume in volumes_homer %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    b4bz/homer:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-homer.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-homer.ctr-id
PIDFile=%t/container-homer.pid
User=homer
Type=forking

[Install]
WantedBy=multi-user.target
