[Unit]
Description=Container service for Jellyfin
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-jellyfin.pid %t/container-jellyfin.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-jellyfin.pid \
    --cidfile %t/container-jellyfin.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=jellyfin \
    -e JELLYFIN_FFmpeg__analyzeduration='1G' \
    -e JELLYFIN_FFmpeg__probesize='1G' \
    {% if ports_jellyfin is defined %}
    {% for port in ports_jellyfin %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_jellyfin is defined %}
    {% for volume in volumes_jellyfin %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    docker.io/jellyfin/jellyfin:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-jellyfin.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-jellyfin.ctr-id
PIDFile=%t/container-jellyfin.pid
Type=forking

[Install]
WantedBy=default.target
