[Unit]
Description=Container service for Mealie
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-mealie.pid %t/container-mealie.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-mealie.pid \
    --cidfile %t/container-mealie.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=mealie \
    -e PUID='1000' \
    -e PGID='1000' \
    -e TZ='America/New_York'
    {% if ports_mealie is defined %}
    {% for port in ports_mealie %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_mealie is defined %}
    {% for volume in volumes_mealie %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    docker.io/hkotel/mealie:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-mealie.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-mealie.ctr-id
PIDFile=%t/container-mealie.pid
Type=forking

[Install]
WantedBy=default.target
