[Unit]
Description=Container service for Mkdocs
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-mkdocs.pid %t/container-mkdocs.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-mkdocs.pid \
    --cidfile %t/container-mkdocs.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=mkdocs \
    -e TZ='America/New_York' \
    {% if ports_mkdocs is defined %}
    {% for port in ports_mkdocs %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_mkdocs is defined %}
    {% for volume in volumes_mkdocs %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    docker.io/squidfunk/mkdocs-material:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-mkdocs.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-mkdocs.ctr-id
PIDFile=%t/container-mkdocs.pid
Type=forking

[Install]
WantedBy=default.target
