[Unit]
Description=Container service for Plex
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-plex.pid %t/container-plex.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-plex.pid \
    --cidfile %t/container-plex.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=plex \
    {% if env_plex is defined %}
    {% for env in env_plex %}
    -e {{ env }} \
    {% endfor %}
    {% endif %}
    {% if ports_plex is defined %}
    {% for port in ports_plex %}
    -p "{{ port }}" \
    {% endfor %}
    {% endif %}
    {% if volumes_plex is defined %}
    {% for volume in volumes_plex %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    docker.io/plexinc/pms-docker:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-plex.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-plex.ctr-id
PIDFile=%t/container-plex.pid
Type=forking

[Install]
WantedBy=default.target
