[Unit]
Description=Container service for Zap2XML
Wants=network.target
#After=network-online.target zfs.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/sh -c 'until ping -c1 cloudflare.com; do sleep 1; done;'
ExecStartPre=/bin/rm -f %t/container-zap2xml.pid %t/container-zap2xml.ctr-id
ExecStart=/bin/podman run \
    --conmon-pidfile %t/container-zap2xml.pid \
    --cidfile %t/container-zap2xml.ctr-id \
    --cgroups=no-conmon -d --replace \
    --pull=always \
    --rm \
    --read-only \
    --name=zap2xml \
    {% if volumes_zap2xml is defined %}
    {% for volume in volumes_zap2xml %}
    -v "{{ volume }}" \
    {% endfor %}
    {% endif %}
    registry.gitlab.com/cubt85iz/zap2xml:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-zap2xml.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-zap2xml.ctr-id
PIDFile=%t/container-zap2xml.pid
Type=forking

[Install]
WantedBy=default.target
