variant: fcos
version: 1.5.0

passwd:
  users:
  {% for user in users %}
    - name: {{ user.name }}
      password_hash: {{ user.password }}
      {% if user.groups is defined %}
      groups:
      {% for group in user.groups %}
        - {{ group }}
      {% endfor %}
      {% endif %}
      {% if user.pubkeys is defined %}
      ssh_authorized_keys:
      {% for key in user.pubkeys %}
        - {{ key }}
      {% endfor %}
      {% endif %}
      {% if user.id is defined %}
      uid: {{ user.id }}
      {% endif %}
  {% endfor %}

storage:
  directories:
    - path: /var/containers
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/audiobooks
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/files
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/games
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/movies
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/music
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/shared/tv
      mode: 0755
      user:
        name: root
      group:
        name: root
    {% for mount in mounts %}
    - path: {{ mount.path }}
      mode: 0755
      user:
        name: root
      group:
        name: root
    {% endfor %}
    {% for directory in addl_directories %}
    - path: {{ directory }}
      mode: 0755
      user:
        name: root
      group:
        name: root
    {% endfor %}
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostname }}.{{ domain }}
    - path: /etc/modules-load.d/zfs.conf
      mode: 0644
      contents:
        inline: zfs
    {% for mount in mounts %}
    - path: /etc/systemd/system/{{ (mount.path | replace('/','-'))[1:] }}.mount
      mode: 0644
      contents:
        local: etc/systemd/system/{{ (mount.path | replace('/', '-'))[1:] }}.mount
    {% endfor %}
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/America/New_York
  trees:
    - local: dotenv/
      path: /var/containers/dotenv
