variant: fcos
version: 1.5.0

passwd:
  users:
  {% for user in users %}
    - name: {{ user.name }}
      password_hash: {{ user.password }}
      {% if user.groups is defined %}
      groups:
      {% for group in user.groups %}
        - {{ group }}
      {% endfor %}
      {% endif %}
      {% if user.pubkeys is defined %}
      ssh_authorized_keys:
      {% for key in user.pubkeys %}
        - {{ key }}
      {% endfor %}
      {% endif %}
      {% if user.id is defined %}
      uid: {{ user.id }}
      {% endif %}
  {% endfor %}

storage:
  directories:
    - path: /var/containers
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/embyserver/data
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/embyserver/movies
      mode: 0755
      user:
        name: root
      group:
        name: root
    - path: /var/containers/volumes/embyserver/tv
      mode: 0755
      user:
        name: root
      group:
        name: root    
    - path: /var/tank
      mode: 0755
      user:
        name: root
      group:
        name: root
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostname }}.{{ domain }}
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/America/New_York
  trees:
    - local: dotenv/
      path: /var/containers/dotenv
