variant: fcos
version: 1.5.0

passwd:
  users:
  {% for user in users %}
    - name: {{ user.name }}
      password_hash: {{ user.password }}
      {% if user.groups is defined %}
      groups:
      {% for group in user.groups %}
        - {{ group }}
      {% endfor %}
      {% endif %}
      {% if user.pubkeys is defined %}
      ssh_authorized_keys:
      {% for key in user.pubkeys %}
        - {{ key }}
      {% endfor %}
      {% endif %}
      {% if user.id is defined %}
      uid: {{ user.id }}
      {% endif %}
  {% endfor %}

{% if root_disks is defined %}
boot_device:
  mirror:
    devices:
      {% for disk in root_disks %}
      - {{ disk }}
      {% endfor %}
{% endif %}

storage:
  directories:
    {% for directory in directories %}
    - path: {{ directory }}
      mode: 0755
      user:
        name: root
      group:
        name: root
        
    {% endfor %}
    {% for mount in mounts %}
    - path: {{ mount.path }}
      mode: 0755
      user:
        name: root
      group:
        name: root

    {% for volume in mount.volumes %}
    - path: {{ mount.path }}/{{ volume }}
      mode: 0755
      user:
        name: root
      group:
        name: root

    {% endfor %}
    {% endfor %}

  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostname }}.{{ domain }}

    - path: /etc/modules-load.d/zfs.conf
      mode: 0644
      contents:
        inline: zfs

    - path: /etc/samba/smb.conf
      overwrite: true
      mode: 0644
      contents:
        local: smb.conf

    - path: /var/lib/systemd/linger/core
      mode: 0644

    {% for mount in mounts %}
    - path: /etc/systemd/system/{{ (mount.path | replace('/','-'))[1:] }}.mount
      mode: 0644
      contents:
        local: etc/systemd/system/{{ (mount.path | replace('/', '-'))[1:] }}.mount

    {% endfor %}

  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/America/New_York

    {% for link in links %}
    - path: {{ link.path }}
      target: {{ link.target }}

    {% endfor %}

  trees:
    - local: etc/
      path: /etc
