[Service]
Environment=DATASET={{ dataset }}
Environment=BACKUP_PATH={{ backup.path }}
Environment=BACKUP_MONITOR_URL={{ backup.monitor_url }}
Environment=BACKUP_REMOTES={{ backup.remotes | join(':') }}
Environment=KEEP_DAILY={{ backup.keep_daily }}
Environment=KEEP_WEEKLY={{ backup.keep_weekly }}
Environment=KEEP_MONTHLY={{ backup.keep_monthly }}
Environment=KEEP_YEARLY={{ backup.keep_yearly }}
