[Container]
{% for option in options %}
{% if option.section is undefined or option.section == 'Container' %}
{{ option.key }}={{ option.value }}
{% endif %}
{% endfor %}

{% if "Service" in options | map(attribute="section") %}
[Service]
{% for option in options %}
{% if option.section == 'Service' %}
{{ option.key }}={{ option.value }}
{% endif %}
{% endfor %}
{% endif %}
