CONTAINER_PATH={{ path }}
MONITOR_URL={{ monitor_url }}
BACKUP_PATH={{ backup_path }}
DATASET={{ dataset }}
KEEP_DAILY={{ keep_daily }}
KEEP_WEEKLY={{ keep_weekly }}
KEEP_MONTHLY={{ keep_monthly }}
KEEP_YEARLY={{ keep_yearly }}
