CONTAINER_PATH={{ path }}
{% if monitor_url is defined %}
MONITOR_URL={{ monitor_url }}
{% endif %}
{% if backup_path is defined %}
BACKUP_PATH={{ backup_path }}
{% endif %}
{% if backup_monitor_url is defined %}
BACKUP_MONITOR_URL={{ backup_monitor_url }}
{% endif %}
{% if dataset is defined %}
DATASET={{ dataset }}
{% endif %}
{% if keep_daily is defined %}
KEEP_DAILY={{ keep_daily }}
{% endif %}
{% if keep_weekly is defined %}
KEEP_WEEKLY={{ keep_weekly }}
{% endif %}
{% if keep_monthly is defined %}
KEEP_MONTHLY={{ keep_monthly }}
{% endif %}
{% if keep_yearly is defined %}
KEEP_YEARLY={{ keep_yearly }}
{% endif %}
{% if variables is defined %}
{% for variable in variables %}
{{ variable }}
{% endfor %}
{% endif %}