[Container]
{% if dataset is defined %}
Environment=DATASET={{ dataset }}
{% endif %}
{% if monitor_url is defined %}
Environment=MONITOR_URL={{ monitor_url }}
{% endif %}
{% if backup is defined %}
{% if backup.monitor_url is defined %}
Environment=BACKUP_MONITOR_URL={{ backup.monitor_url }}
{% endif %}
{% if backup.path is defined %}
Environment=BACKUP_PATH={{ backup.path }}
{% endif %}
{% if backup.remotes is defined %}
Environment=BACKUP_REMOTES={{ backup.remotes | join (',') }}
{% endif %}
{% if backup.keep_daily is defined %}
Environment=KEEP_DAILY={{ backup.keep_daily }}
{% endif %}
{% if backup.keep_weekly is defined %}
Environment=KEEP_WEEKLY={{ backup.keep_weekly }}
{% endif %}
{% if backup.keep_monthly is defined %}
Environment=KEEP_MONTHLY={{ backup.keep_monthly }}
{% endif %}
{% if backup.keep_yearly is defined %}
Environment=KEEP_YEARLY={{ backup.keep_yearly }}
{% endif %}

{% endif %}
[Service]
Environment=CONTAINER_PATH={{ path }}
