<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>WireGuard S2S</short>
  <description>WireGuard is the simple, fast and modern VPN. The port needs to be open if a peer has this host explicitly configured as endpoint.</description>
  <port protocol="udp" port="{% for setting in settings %}{% if setting.protocol == 'wireguard' %}{% for option in setting.options %}{% if option.key == "listen-port" %}{{ option.value }}{% endif %}{% endfor %}{% endif %}{% endfor %}"/>
</service>
