[Unit]
{% if description is defined %}
Description={{ description }}
{% endif %}
{% if requires is defined %}
Requires={{ requires | join(' ') }}
{% endif %}
{% if after is defined %}
After={{ after | join(' ') }}
{% endif %}

[Service]
{% for option in options %}
{{ option.key }}={{ option.value }}
{% endfor %}
