[Unit]
{% if description is defined %}
Description={{ description }}
{% endif %}
{% if requires is defined %}
Requires={{ requires | join(' ') }}
{% endif %}
{% if after is defined %}
After={{ after | join(' ') }}
{% endif %}

[Service]
{% for condition in conditions %}
ExecCondition={{ condition }}
{% endfor %}
{% for command in pre_commands %}
ExecStartPre={{ command }}
{% endfor %}
{% for command in commands %}
ExecStart={{ command }}
{% endfor %}
{% for command in post_commands %}
ExecStartPost={{ command }}
{% endfor %}
