[Unit]
Description={{ description }}
{% if before is defined and before | length > 0 %}
Before={{ before | join (' ') }}
{% endif %}
{% if after is defined and after | length > 0 %}
After={{ after | join (' ') }}
{% endif %}

[Mount]
What={{ target }}
Where={{ path }}
{% if type %}
Type={{ type }}
{% endif %}
{% if options is defined and options | length > 0 %}
Options={{ options | join(',') }}
{% endif %}
TimeoutSec=60