[Interface]
Address = {{ settings.tunnel_address }}
ListenPort = {{ settings.listen_port }}
PrivateKey = {{ settings.private_key }}
SaveConfig = false

{% for peer in settings.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if keep_alive is defined %}
PersistentKeepAlive = {{ peer.keep_alive }}
{% endif %}

{% endfor %}