[Interface]
Address = {{ settings.tunnel_address }}
ListenPort = {{ settings.listen_port }}
PrivateKey = {{ settings.private_key }}
SaveConfig = false

PostUp = iptables -A FORWARD -i {{ interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ listen_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ listen_interface }} -j MASQUERADE

{% for peer in settings.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.endpoint_address is defined %}
Endpoint = {{ peer.endpoint_address }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.keep_alive is defined %}
PersistentKeepAlive = {{ peer.keep_alive }}
{% endif %}

{% endfor %}